
* {
    margin:0;
    padding:0;
    list-style-image:none;
    list-style-type:none;
}
html {
    -webkit-text-size-adjust:none;
        background-color: #000000 !important;
}
body {
    background-color:#000000 !important;
font-family:"Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-repeat:repeat-y;
    background-position:center;
    font-size: 14px;
}
a:link, a:visited {
    color: #afafaf !important;
    text-decoration: none;
}

.resources-detail {
    background: #131313 !important;
}

header {

    background-color: #000000d9 !important;

}
.post-inner {
    background-color: #ffffff17 !important;
    padding: 12px;
    padding-top: 12px;
    line-height: 1.6em;
    margin-top: 22px;
    width: 98%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .2s;
    transition: all .4s;
}

#ss-app-card {
    background: #2d2d2d;
    border: 1px solid #2d2d2d;
   } 
   #ss-app-card h4 {
    font-size: 18px;
    color: #f1f1f1;
    /* letter-spacing: 0; */
    /* margin: 0; */
    /* padding-top: 38px; */
}
.c-flex a{
    background-color: #000  !important;
}
.c-flex__item {
    background-image: linear-gradient(45deg, #121212,#121212) !important;

}
.c-flex__itemm {
box-shadow: 0 18px 26px -4px hsla(0, 0%, 0%, 0.31) !important;
    background-image: linear-gradient(45deg, #121212,#121212) ;

}
.c-flex__item:hover {
    box-shadow: 0 36px 48px -46px #13e0bcd9 !important;
}

.menu {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #474747;
    padding-top: 8px;
    border-top: 1px solid #252525;
    background-color: #111111;
    z-index: 999;
    font-size: 11px;
}
#one {
    color: #2bffdb;
}
#icontext {
    color: #2bffdb !important;
}

#weixin007 img{
/*    opacity: 0.9 !important;*/
        box-sizing: border-box;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(185 185 185 / 33%);
    border-radius: 6px;
}
#wz1 {
    color: #afafaf !important;
}
.sponsor-title {
 color: #afafaf !important;
}
.resources-detail h3 {
    color: #afafaf  !important;
}
.site-wrapper {
    background: #000  !important;
}
.post {
    border-bottom: #3c3c3c 1px solid !important;

}
.resources-detail h2, .tool-detail h2 {
    color: #afafaf !important;
}
.sponsor-bottom, .sponsor-btn {
    color: #afafaf !important;
}
.vision a {
    background-color: #3e3e3e !important;
}
.post-excerpt p {
    color: #8b8b8b !important;
}
.tool-img:hover {
     box-shadow: 0 36px 28px -39px #13e0bc80 !important;
 
}

#tianyi .local:hover {
    background: #2affda;
    border-color: rgb(95 95 95 / 0%);
    background-image: -webkit-linear-gradient( 50deg , #2affda, #b2ff68);
    color: #000000;
    box-shadow: 0 14px 12px -10px #13e0bc80 !important;
}

#ss-app-card {
    background: #131313;
    border: 1px solid #2d2d2d;
}

#ss-dropdown-toggle {

    color: #000;
    background: #2affda;
    background-image: -webkit-linear-gradient(50deg, #2d2d2d, #2d2d2d);
}

.extra-pagination {
    border-bottom: #3c3c3c 1px solid !important;
}
.site-wrapper {
    background: #000 !important;
}
.post-template .post-title, .page-template .post-title {
    color: #afafaf !important;
}
.post-content p {
        color: #afafaf !important;
}
.moquu_listscr a:hover {
    box-shadow: 0 32px 23px -30px #13e0bcc7 !important;
}
#preload {
    background:  #000000 !important;
}
#header {
    background: #000000 !important;
}
.central {
    background-color: #121212 !important;
}
#slider-wrapper {

    background-color: #111111 !important;
}
#textb {
    color: #afafaf !important;
}
#textbs {
    color: #afafaf !important;
}
#texts {
    color: #afafaf !important;
    font-weight: 400 !important;
}
.copyrights {
    background-color: #000000 !important;
    border-top: 1px solid rgba(234, 234, 234, 0.07) !important;
}
.copyrights_c {
    background-color: #000000 !important;
        border-top:1px solid rgba(234, 234, 234, 0.15) !important;
}
#border2 {
    border-left: 1px solid rgba(234, 234, 234, 0.07) !important;
}
#border3 {
    border-left: 1px solid rgba(234, 234, 234, 0.07) !important;
}
#border4 {
    border-top: 1px solid rgba(234, 234, 234, 0.07) !important;
}
#border5 {
    border-left: 1px solid rgba(234, 234, 234, 0.07) !important;
    border-top: 1px solid rgba(234, 234, 234, 0.07) !important;
}
#border6 {
    border-left: 1px solid rgba(234, 234, 234, 0.07) !important;
        border-top: 1px solid rgba(234, 234, 234, 0.07) !important;
}
.design_studio a {

    opacity: 0.5 !important;
}
.design_studio a:hover {
    opacity: 1 !important;
    color: #13e0bc !important;
}
.copyright {
    background-color: #121212 !important;
    color: #afafaf !important;
    border-top-color: #000000 !important;
}
#xinlang {
    color: #13e0bc  !important;
}


.resources-detail h1 {
    opacity: 0 !important;
}

#ta {
opacity: 0 !important;
}
.c-tinycontent img {
    opacity: 0.8 !important;
}

header h1#logobag {

    color: #afafaf !important;
}
header h1#logoqj {

    background-color: #2d2d2d !important;

}
header h1#logoqj:hover {
    float: left;
    font-size: 14px;
    color: white;
    font-weight: 400;
    border-radius: 100px;
    color: #afafaf;
    background: #13e0bc;
    background-image: -webkit-linear-gradient(50deg, #13e0bc, #13e0bc)!important;
    margin-top: 44px;
    padding: 8px 20px;
    margin-left: 12px;
}
.copyrights_z dd.copyrights_wz a:hover {
    text-decoration: none;
    color: #13e0bc !important;
}
#IndicatorBox{
    background: url(https://dl.img.timecdn.cn/2022/09/19/snav_icon.png) 14px 10px no-repeat rgb(45, 45, 45) !important;
}


.moquu_listscr .moquu_listscrnh {
    background-color: #121212 !important;
}

.moquu_listscr .moquu_listscrnh a {
    background: #121212 !important;
        -webkit-text-fill-color:#afafaf !important;
        border-bottom: #353535 1px solid !important;
}
.moquu_listscr .moquu_listscrn {
    border-right: #3c3c3c 1px solid  !important;
    border-top: #3c3c3c 1px solid  !important;
    border-left: #3c3c3c 1px solid  !important;
    opacity: 0.5  !important;
}
.moquu_listscr a {
    border-bottom: #757575 1px solid !important;

}

.moquu_listscr .moquu_listscrn:hover {
   background: #121212 !important;
    opacity: 1  !important;
    font-weight: 500  !important;
}

.ccRightNav{
        background: #2d2d2d !important;
}
.ccRightNav hr{
      border-bottom: 1px solid rgb(97, 97, 97)  !important;
}

#logoqj a {
    color: #afafaf !important;
}
#resources img {
    opacity: 0.8 !important;
}
.resources-detail p {

    color: #868686 !important;
}
.detail-download {
    background: #121212 !important;
}
.detail-download a.local {
    color: #afafaf !important;
    background: #2d2d2d !important;
}
#tianyi {

    background: #121212 !important;

}

#tianyi .local {

    color: #afafaf !important;
/*    background: #2d2d2d !important;*/
    border-color: rgb(95 95 95) !important;
}

#tianyi p {

    color: #afafaf !important;
}

.detail-download a {
    color: #afafaf !important;
}

.panel .panel-title {
       background: #000000  !important;
    color: #afafaf !important;
}
.tool .tool-title {
    color: #afafaf !important;
}
#page {
    background-color: #000000  !important;

}
.shortcuts .items h2 {
    border-bottom: 1px solid #3e3e3e !important;
    color: #afafaf !important;
    font-weight: 500 !important;
}
.tool .tool-body {
    font-size: 12px;
    font-weight: 400 !important;
    color: #5a5a5a !important;
}
.shortcuts .list li {
    border-bottom: 1px solid #3e3e3e !important;
    color: #d0d0d0 !important;
}
.c-tinycontent {
    background-color: #121212 !important;
    color: #afafaf !important;
}
.titleBar h1 {
    color: #afafaf !important;
}
#designGuide .wrap {
    border-bottom: #404040 1px solid !important;
}
.wrap {
    background-color: #121212 !important;
    color: #a5a5a5 !important;
}
.tableList01 th {
    border-bottom: #404040 2px solid !important;
}
.tableList01 th, .tableList01 td {
    border-bottom: #404040 1px solid !important;
}
#designGuide .contentBox h2 {
    color: #afafaf !important;
}
.chicun {
    background-color: #121212 !important;
}
.TableStyle th {
    background: #5d5d5d !important;
    color: #afafaf !important;
}
.TableStyle {
    border: #464646 solid 1px  !important;
}
#screenSizeMain .titleBox {
    border-bottom: #3a3a3a 1px solid !important;
    background-color: #5d5d5d !important;
    color: #afafaf !important;
}
#screenSizeMain td.td01 {
    color: #afafaf !important;
}
#screenSizeMain table tbody tr:hover {
    background-color: #595959 !important;
}
.titleBox th {
    border-bottom: 1px solid #3a3a3a  !important;
}
#screenSizeMain td {
    border-bottom: 1px solid #3a3a3a !important;
}
.card .card-heading .card-title {
    color: #afafaf !important;
}
.card {
    background: #121212 !important;
}
.panel-body .card:hover {
    box-shadow: 0 17px 32px -28px #13e0bc !important;
}
.c-flex__item:hover {
    box-shadow: 0 36px 48px -46px #13e0bcd9  !important;
}
.tool-imgs:hover {
    box-shadow: 0 44px 34px -56px #2affda !important;
}
.card .card-body {
    color: rgba(199, 199, 199, 0.55) !important;
}
.tool-imgb{
    background-image: linear-gradient(45deg, #121212, #121212)  !important;
}
.tool-imgb:hover  {
        box-shadow: 0 37px 43px -40px #13e0bc91 !important;
}
#localb{
    color: #000000 !important;
        background: #13e0bc !important;
    background-image: -webkit-linear-gradient(50deg, #13e0bc, #13e0bc) !important;
}
.tdl {
    border-right: #404040 solid 1px  !important;
}
.TableStyle td {
    border-bottom: #404040 solid 1px !important;
    background: #2d2d2d !important;

}
.TableStyle tr:nth-of-type(even) td {
    background: #111111 !important;
}
.tdr {
    color: #bdbdbd !important;
}
.chicuntitle {
    color: #afafaf !important;
}
/*img {
    opacity: 0.8 !important;
}*/
.m_icon a:hover {
      background-image: -webkit-linear-gradient(0deg, #13e0bc, #13e0bc) !important;

}
.tool .tool-imgs:hover a{
        color: #000000 !important;
}
pre {
    border: #3a3a3a 1px solid !important;
    background: #121212 !important;
    color: #afafaf !important;
}
.post-footer p {
   color: #afafaf !important;
}
.post-footer {
    border-top: #3c3c3c 1px solid !important;
}
#local:hover{
    color: #000000 !important;
      /*  color: #afafaf !important;*/
    font-weight: 500 !important;
    background-color: #13e0bc !important;
    opacity: 1 !important;
        box-shadow: 0 9px 20px -8px #13e0bc80 !important;
}
.c-header {
    color: #afafaf !important;
}
.c-footer {
    color: #afafaf !important;
}
.c-newkidintown {
    background-color: #000 !important;
}
.c-flex__item {
    box-shadow: 0 18px 26px -4px hsla(0, 0%, 0%, 0.31) !important;
}
.c-flex__itemm {
    box-shadow: 0 18px 26px -4px hsla(0, 0%, 0%, 0.31) !important;
}
.c-flex__itemm:hover {
box-shadow: 0 36px 48px -46px #13e0bcd9 !important;
}

.c-flex__item.is--contrast {
    color: #afafaf !important;
}
.c-flex__item.is--overflow {
    color: #afafaf !important;
}
.c-flex__item.is--realtime {
    color: #afafaf !important;
}
.tool .tool-img {
    background-image: linear-gradient(45deg, #121212,#121212)!important;
}
/*.c-flex__item.is--invisionstudio {
    background-color: #121212 !important;
}*/
@media screen and (max-width: 1250px){
.top {
    background-color: #121212fa !important;
/*    backdrop-filter: blur(10px);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;*/
}
.logo{
    background-image: url(https://dl3.img.timecdn.cn/2022/09/18/logo.png) !important;
    background-size: 100% 100%;
}
.wrapper-dropdown-5{
    background-image: url(https://dl2.img.timecdn.cn/2022/09/19/nav_icon2.png) !important;
    background-size: 100% 100%;
}
#pencil{
    background-image: url(https://dl2.img.timecdn.cn/2022/09/19/pencil_icon2.png) !important;
    background-size: 100% 100%;
}
.logo img {
    display: none;
}
.wrapper-dropdown-5 img {
    display: none;
}
#pencil img {
        opacity: 0;
}
.wrapper-dropdown-5.active .dropdown {
    margin-top: 42px !important;
}
.index_nav_icon {
 background-color: #2d2d2d !important;
}

.wrapper-dropdown-5 .dropdown {
      background-color: #121212fa !important;
}
}
@media screen and (max-width: 950px){
#page {
    background-color: #000000 !important;
}
#ta {
    color: #a2a2a2 !important;
    opacity: 1 !important;
}
.resources-detail h1 {
    opacity: 1 !important;
    color: #afafaf !important;
}
#download {
    background: #121212 !important;
}
.copyright {
    background-color: #121212 !important;
    color: #afafaf !important;
        border-top-color: #000000 !important;
}
.c-toollogo__animate {
    opacity: 0.3 !important;
}
a:link, a:visited {
    color: #afafaf !important;

}
.moquu_listscr a {
border-bottom: #75757500 1px solid !important;
}
.moquu_listscr .moquu_listscrn {
border-bottom:#e9eaec5e 1px solid  !important;
    border-top-right-radius: 0px  !important;
    border-bottom-right-radius: 0px  !important;
}

}


@media screen and (max-width: 500px){

.central {
    background-color: #121212 !important;
        height: 720px !important;
}
#border3 {
    border-left: 1px solid rgba(234, 234, 234, 0.07) !important;
    border-top: 1px solid rgba(234, 234, 234, 0.07) !important;
}
#border4 {
    border-left: 1px solid rgba(234, 234, 234, 0.07) !important;
    border-top: 1px solid rgba(234, 234, 234, 0.07) !important;
}

}


::-webkit-scrollbar {
    width:5px;
    height:5px
}
::-webkit-scrollbar-button:vertical {
    display:none
}
::-webkit-scrollbar-track:vertical {
    background-color:black
}
::-webkit-scrollbar-track-piece {
    background:#2f2f2f
}
::-webkit-scrollbar-thumb:vertical {
    background-color:#7f7f7f;
    border-radius:10px
}
::-webkit-scrollbar-thumb:vertical:hover {
    background-color:#7f7f7f
}
::-webkit-scrollbar-corner:vertical {
    background-color:#535353
}
::-webkit-scrollbar-resizer:vertical {
    background-color:#FF6E00
}













